/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

.login-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-form button {
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #5147e0;
}

.register-text {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 15px;
}

.register-link {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.register-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Login.css */

.forgot-text {
  font-size: 14px;
  text-align: center;
  color: #666;
}

.forgot-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.forgot-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
