/* Register.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
}

.register-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.register-form button {
  padding: 10px;
  background-color: #00b894;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-form button:hover {
  background-color: #019874;
}

.preview-image {
  margin-top: 10px;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  align-self: center;
}

.register-text {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 15px;
}

.register-link {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.register-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.forgot-text {
  font-size: 14px;
  text-align: center;
  color: #666;
}

.forgot-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.forgot-link:hover {
  color: #0056b3;
  text-decoration: underline;
}